.instWrap {
  display: inline;
  width: 100%;
  height: 250px;
  background-color: white;
  text-align: center;

}

.instBox {
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 4%;
  border: 1px solid black;
  width: 20%;
  height: 200px;
  text-align: center;
}

.instBox:first-child {
  margin-left: 4%;
}

.instBox:last-child {
  margin-left: 4%;
}
